# Git folder #
/.git/

# Eclipse files #
.buildpath
.classpath
.launch
.loadpath
.metadata
.project
.settings/
bin/**

# IntelliJ Idea files
.idea
*.iml

# Windows files #
Thumbs.db
Desktop.ini

# OS files #
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

# Node
/node_modules/
package-lock.json
