# Git
.gitattributes

# Tests
test
coverage

# CI
.github/**
.travis.yml
.jenkins.yml
.codeclimate.yml

# Linter
.achecker.yml
.htmlvalidate.json
.jshintrc

# IDE - Eclipse files
.buildpath
.classpath
.launch
.loadpath
.metadata
.project
.settings/
bin/**

# IDE - IntelliJ Idea files
.idea
*.iml

# IDE - VSCode
.vscode/*
.history/*

# Compilation folders
/output/
