<header>
   <nav id="navbar-main" class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
      {%- if site.github_username -%}
	  <div class="ml-auto d-flex align-items-center row">
	     <div class="col-sm">
            <a href="https://github.com/{{ site.github_username }}" title="GitHub" aria-label="GitHub">
               <span class="fa fa-github pl-1" aria-hidden="true"></span>
			   <span class="d-none d-sm-block d-md-none">Github</span>
            </a>
	     </div>
	  </div>
      {%- endif -%}
      <button class="navbar-toggler" type="button"
         data-toggle="collapse" data-target="#navbar-main-menu"
         aria-controls="navbar-main" aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <div class="collapse navbar-collapse" id="navbar-main-menu">
         <ul class="navbar-nav mr-auto">
            {% assign current = page.url | downcase | split: '/' %}
            {%- for path in page_paths -%}
               {%- assign current_page = site.pages | where: "path", path | first -%}
               {% assign current_page_name = current_page.name | downcase | split: '.' %}
               {% if current[1] == current_page_name[0] %}
                  {% assign activeClass = 'active' %}
               {% else %}
                  {% assign activeClass = '' %}
               {% endif %}
               {%- if current_page.title -%}
               <li class="nav-item {{ activeClass }}">
                  <a class="nav-link" href="{{ current_page.url | relative_url }}">{{ current_page.title | escape }}
                     {% if current[1] == current_page_name[0] %}
                     <span class="sr-only">(current)</span>
                     {% endif %}
                  </a>
               </li>
               {% endif %}
            {%- endfor -%}
         </ul>
      </div>
      <div>
         {%- if site.author -%}
            {%- if site.email -%}
            <a href="mailto:{{ site.email }}">{{ site.author | escape }}</a>
            {%- else -%}
            {{ site.author | escape }}
            {%- endif -%}
         {%- else -%}
         {{ site.title | escape }}
         {%- endif -%}
      </div>
   </nav>
</header>