<div>
   {%- assign projects = include.projects | sort_natural: 'title' -%}
   {%- for project in projects -%}
   {% assign github_info = project.link | split: "/" %}
   {% assign repo_user = github_info[3] %}
   {% assign repo_name = github_info[4] %}
   {% assign project_name = project.title | escape %}
   {% assign project_id = project_name | remove: " " | downcase | slugize %}
   {% assign collapse_id = "collapse" | append: project_id %}
   {% assign heading_id = "heading" | append: project_id %}
   <div class="card">
      <div class="card-header" id="{{ heading_id }}">
         <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ collapse_id }}" aria-expanded="false" aria-controls="{{ collapse_id }}">
               {{ project_name }}
            </button>
               <div class="float-right"><a href="{{ project.link }}" title="github{{ collapse_id }}" aria-label="github{{ collapse_id }}">
                  <span class="navbar-brand fab fa-github fa-lg" aria-hidden="true"></span>
               </a></div>
         </h5>
      </div>
      <div id="{{ collapse_id }}" class="collapse" aria-labelledby="{{ heading_id }}" data-parent="#main-section">
         <div class="card-body">
            <div>
               <a href="{{ project.link }}" class="badge"><img alt="License for {{ project_name }}" src="https://img.shields.io/github/license/{{ repo_user }}/{{ repo_name }}.svg?style=social"/></a>
               <a href="{{ project.link }}/stargazers" class="badge"><img alt="Stars for {{ project_name }}" src="https://img.shields.io/github/stars/{{ repo_user }}/{{ repo_name }}.svg?style=social"/></a>
               <a href="{{ project.link }}/watchers" class="badge"><img alt="Watchers for {{ project_name }}" src="https://img.shields.io/github/watchers/{{ repo_user }}/{{ repo_name }}.svg?label=Watchers&style=social"/></a>
               <a href="{{ project.link }}/network/members" class="badge"><img alt="Forks for {{ project_name }}" src="https://img.shields.io/github/forks/{{ repo_user }}/{{ repo_name }}.svg?label=Forks&style=social"/></a>
            </div>
            <p class="card-text">{{ project.content }}</p>
            {% if project.languages %}
            {%- for language in project.languages -%}
            {% assign name = language | downcase | slugize %}
            {% assign link = '/languages#' | append: name %}
            <a href="{{ link }}" class="btn btn-outline-primary">{{ language }}</a>&nbsp;
            {%- endfor -%}
            </p>
            {% endif %}
            {%- for library in project.libraries -%}
            {% assign name = library | downcase | slugize %}
            {% assign link = '/libraries#' | append: name %}
            <a href="{{ link }}" class="btn btn-outline-primary">{{ library }}</a>&nbsp;
            {%- endfor -%}
         </div>
      </div>
   </div>
   {%- endfor -%}
</div>