.list-icons {
    padding: 10px 5px 10px 15px;
}

.dl-version dt {
    float: left;
    padding-right: 0.5em;
}

.dl-version-support dt {
    float: left;
    padding-right: 0.5em;
}

.dl-version-support dd {
    float: left;
    padding-right: 5px;
}