.navbar {
    margin-bottom: 50px;
}

body {
    padding-top: 50px;
}

.navbar-brand {
    font-size: 30px;
}

@media (max-width: 62em) {
    .navbar-brand {
        font-size: 20px;
    }
}

@media (max-width: 25em) {
    .navbar-brand {
        font-size: 15px;
    }
}

.navbar-body {
    font-size: 20px;
}

@media (max-width: 62em) {
    .navbar-body {
        font-size: 15px;
    }
}

.banner {
    padding-top: 0;
}