<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
{%- include head.html -%}
<body>
   {%- include header.html -%}
   <main role="main" class="container">
      <section id="main-section" class="container">
         {{ content }}
      </section>
      {%- assign langs = '' | split: '' -%}
      {%- assign libs = '' | split: '' -%}
      {% assign all_projects = site.projects | concat: site.examples %}
      {%- for project in all_projects -%}
         {%- for lang in project.languages -%}
            {% unless langs contains lang %}
               {% assign langs = langs | push: lang %}
            {% endunless %}
         {%- endfor -%}
         {%- for lib in project.libraries -%}
            {% unless libs contains lib %}
               {% assign libs = libs | push: lib %}
            {% endunless %}
         {%- endfor -%}
      {%- endfor -%}
      {% assign langs = langs | sort_natural %}
      {% assign libs = libs | sort_natural %}
      <section id="links" class="container">
         <div class="row justify-content-center">
            <h2>Languages</h2>
         </div>
         <div class="row justify-content-center">
            {%- for lang in langs -%}
               {% assign name = lang | downcase | slugize %}
               {% assign link = '/languages#' | append: name %}
               <a href="{{ link }}" class="btn btn-outline-primary">{{lang}}</A>
            {%- endfor -%}
         </div>
         <div class="row justify-content-center">
            <h2>Libraries</h2>
         </div>
         <div class="row justify-content-center">
            {%- for lib in libs -%}
               {% assign name = lib | downcase | slugize %}
               {% assign link = '/libraries#' | append: name %}
               <a href="{{ link }}" class="btn btn-outline-primary">{{lib}}</A>
            {%- endfor -%}
         </div>
      </section>
   </main>
   {%- include scripts.html -%}
</body>
</html>